

.ModalReact {
    z-index: 400;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .ModalReact .main {
    background: white;
    max-width: 600px;
    padding: 20px;

  }
  
  /* .display-block {
    display: block;
  }
   */
  .display-none {
    display: none;
  }
  